<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This app was developed by me with the help of <a href="http://rubyonrails.org/">Ruby on Rails</a> and is still under development.</br>
      It is supposed to be a basic User- login app and I have created the sign up page but the login option is not available as it is not completely developed.
    </p>
  </body>
</html>